@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $yellow;
  background: $bgBlue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  min-height: 100vh;
}

.glass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__image {
    position: relative;
  }
  
  &__counter {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 112px;
    line-height: 131px;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  &__button {
    margin-top: 50px;
    border: none;
    &--add {
    font-weight: bold;
    padding: 0 50px;
    line-height: 40px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3)
  
    }
  
    &--remove {
      background: transparent;
      color: white;
    }
  }
}


