@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $yellow;
  background: $bgBlue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  min-height: 100vh;
}

.pwa__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.glass__image {
  position: relative;
}

.glass__counter {
  font-family: 'Roboto', sans-serif;
  color: black;
  position: absolute;
  font-size: 112px;
  line-height: 131px;
  left: 45.53%;
  bottom: 34.89%;
}

.glass__button {
  margin-top: 50px;
  border: none;
}

.glass__button--add {
font-weight: bold;
padding: 0 50px;
line-height: 40px;
border-radius: 6px;
background-color: #fff;
box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3)

}

.glass__button--remove {
  background: transparent;
  color: white;
}
